In [13]:
import pandas as pd
from pandas import DataFrame

pd.read_csv('characters.csv')

,id,name,bio
0,0,Regulus Arcturus Black,Brother of Sirius. Used to be a Death Eater bu...
1,1,Sirius Black,Best friend of James Potter and godfather of H...
2,2,Lavender Brown,Killed by a werewolf. She was a gryffindor stu...
3,3,Cho Chang,Ravenclaw student who dated Cedric Diggory and...
4,4,Vincent Crabbe Sr.,Father of Crabbe and death-eater who escaped A...
...,...,...,...
60,60,Fluffy,Three-headed dog belonging to Rubeus Hagrid.
61,61,Hedwig,Harry's owl.
62,62,Moaning Myrtle,Ghost at Hogwards.
63,63,Aragog,Acromantula belonging to Rubeus Hagrid.
64,64,Grawp,Giant-half brother of Hagrid.