#### guiding questions 

##### the basic q's
- in true spotify wrapped fashion...
    - top 5 artists?
    - top 5 songs?
    - total minutes listened?
    - top genre?

##### more in depth q's
- how have my top 3 songs changed over the last 6 months?
    - using 6 month intervals because of the limited time period of data
- is there an increasing or decreasing trend in amount of music time listened to? what are some probable causes of this?

In [13]:
# data cleaning
import pandas as pd

# get total streaming history (earliest to latest dates)
strm_hist_0 = pd.read_json('data/StreamingHistory0.json')
strm_hist_1 = pd.read_json('data/StreamingHistory1.json')

strm_hist_total = pd.concat([strm_hist_0, strm_hist_1])

strm_hist_total

,endTime,artistName,trackName,msPlayed
0,2022-12-17 07:06,keshi,skeletons,148449
1,2022-12-23 23:56,Kassy,Aching,74929
2,2022-12-25 00:52,DPR LIVE,Jasmine,6816
3,2022-12-25 00:56,Kassy,Aching,242048
4,2022-12-26 01:08,Kassy,Aching,176095
...,...,...,...,...
5557,2023-12-24 04:34,Clinton Kane,AVO TOAST,161461
5558,2023-12-24 04:37,Jessica Baio,at least,167502
5559,2023-12-24 04:41,Ed Sheeran,Merry Christmas,208546
5560,2023-12-24 04:44,Zach Hood,lonely isn't the word for this,167060
5561,2023-12-24 04:45,Rosie Darling,Reruns,15162

In [100]:
# the basic questions

# top 5 artists?
all_artists = strm_hist_total['artistName'].value_counts() # currently a Series

framed_artists = all_artists.to_frame() # copy the original df

framed_artists.rename(
    columns={'artistName': 'Artist', 
             'count': 'Number of Tracks Played'}, inplace=True) # rename columns 

framed_artists.head(5)

                   Number of Tracks Played
artistName
Tate McRae                             943
Patrick Brasca                         752
Taylor Swift                           635
Olivia Rodrigo                         472
Virginia To Vegas                      374

In [97]:
# total minutes listened?
import math

total_milisecs = strm_hist_total['msPlayed'].sum() # in milliseconds
total_secs = math.floor(total_milisecs/1000) # get seconds

print(f'{math.floor(total_secs/60)} minutes {round(total_secs % 60)} seconds')

40810 minutes 29 seconds